* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

.search__input {
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
  height: 30px;
}

.movies {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__image img {
  max-width: 100%;
  height: 360px;
}

.movie__image:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.info {
  padding: 10px 0;
}

.info__title {
  font-size: 16px;
  color: #ffffff;
}

.info__category {
  font-size: 14px;
  color: #ffd70f;
}

.info__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1a20;
  color: #fbfbfb;
  font-size: 14px;
}

.info__average--green {
  border: 1px solid rgb(10, 148, 10);
}

.info__average--orange {
  border: 1px solid rgb(255, 166, 0);
}

.info__average--red {
  border: 1px solid rgb(255, 0, 0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #1a191f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}

.modal__movie-info {
  margin-left: 20px;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
  cursor: pointer;
}

.modal__movie-site {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
  flex-wrap: wrap;
}

.pagination__button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination__button:hover {
  background-color: #dcdcdc;
}

.pagination__button--active {
  background-color: #710882;
  color: white;
  font-weight: bold;
}
